{{- $platformIsSet := printf "%s" (required "Platform needs to be set to kubernetes, openshift, google" (include "dynatrace-operator.platformSet" .))}}
{{ if eq (include "dynatrace-operator.partial" .) "false" }}
# Copyright 2021 Dynatrace LLC

# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at

#     http://www.apache.org/licenses/LICENSE-2.0

# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: dynatrace-kubernetes-monitoring
  labels:
    {{- include "dynatrace-operator.activegateLabels" . | nindent 4 }}
rules:
  - apiGroups:
      - ""
    resources:
      - nodes
      - pods
      - namespaces
      - replicationcontrollers
      - events
      - resourcequotas
      - pods/proxy
      - nodes/proxy
      - services
    verbs:
      - list
      - watch
      - get
  - apiGroups:
      - batch
    resources:
      - jobs
      - cronjobs
    verbs:
      - list
      - watch
      - get
  - apiGroups:
      - apps
    resources:
      - deployments
      - replicasets
      - statefulsets
      - daemonsets
    verbs:
      - list
      - watch
      - get
  - apiGroups:
      - apps.openshift.io
    resources:
      - deploymentconfigs
    verbs:
      - list
      - watch
      - get
  - apiGroups:
      - config.openshift.io
    resources:
      - clusterversions
    verbs:
      - list
      - watch
      - get
  - nonResourceURLs:
      - /metrics
      - /version
      - /readyz
      - /livez
    verbs:
      - get
  {{- if eq (default false .Values.olm) true}}
  - apiGroups:
      - security.openshift.io
    resourceNames:
      - host
      - privileged
    resources:
      - securitycontextconstraints
    verbs:
      - use
  {{ end }}
{{ end }}
