#!/usr/bin/env bash

set -eu

if [[ -f "/var/lib/dynatrace/oneagent/agent/config/ruxithost.id" ]]; then
	echo "WARNING: full-stack OneAgent has been injected to this container. App-only and full-stack injection can conflict with each other."
fi

"{{.InstallerMode}}"

echo "Configuring OneAgent..."
echo -n "${INSTALLPATH}/agent/lib64/liboneagentproc.so" >> "${share_dir}/ld.so.preload"

for i in $(seq 1 $CONTAINERS_COUNT)
do
	container_name_var="CONTAINER_${i}_NAME"
	container_image_var="CONTAINER_${i}_IMAGE"

	container_name="${!container_name_var}"
	container_image="${!container_image_var}"

	container_conf_file="${share_dir}/container_${container_name}.conf"

	echo "Writing ${container_conf_file} file..."
	echo "[container]
containerName ${container_name}
imageName ${container_image}
k8s_fullpodname ${K8S_PODNAME}
k8s_poduid ${K8S_PODUID}
k8s_containername ${container_name}
k8s_basepodname ${K8S_BASEPODNAME}
k8s_namespace ${K8S_NAMESPACE}">>${container_conf_file}

	if [[ ! -z "${host_tenant}" ]]; then
		if [[ "{{.DynaKube.Status.ConnectionInfo.TenantUUID}}" == "${host_tenant}" ]]; then
			echo "k8s_node_name ${K8S_NODE_NAME}
k8s_cluster_id ${cluster_id}">>${container_conf_file}
		fi

	echo "
[host]
tenant ${host_tenant}">>${container_conf_file}
	fi
done
