/*
Dynatrace Environment API

 Documentation of the Dynatrace Environment API v2. Resources here generally supersede those in v1. Migration of resources from v1 is in progress.   If you miss a resource, consider using the Dynatrace Environment API v1.  To read about use cases and examples, see [Dynatrace Documentation](https://dt-url.net/2u23k1k).  To authorize, use a valid access token or personal access token. For usage in a Dynatrace app, refer to the [Dynatrace Developer documentation](https://dt-url.net/tb23plz).  Notes about compatibility: * Operations marked as early adopter or preview may be changed in non-compatible ways, although we try to avoid this. * We may add new enum constants without incrementing the API version; thus, clients need to handle unknown enum constants gracefully.

API version: 2.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package tenantapiv2

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// OpenTelemetryProtocolOTLPLogsIngestAPIService OpenTelemetryProtocolOTLPLogsIngestAPI service
type OpenTelemetryProtocolOTLPLogsIngestAPIService service

type ApiIngestLogRequest struct {
	ctx context.Context
	ApiService *OpenTelemetryProtocolOTLPLogsIngestAPIService
	body *map[string]interface{}
	structure *string
	xDynatraceAttr *string
	xDynatraceOptions *string
}

// An ExportLogsServiceRequest message in binary protobuf format.
func (r ApiIngestLogRequest) Body(body map[string]interface{}) ApiIngestLogRequest {
	r.body = &body
	return r
}

// (Optional) Data model used for structuring the input into log records. Allowed values: &#x60;raw&#x60;, &#x60;flattened&#x60;. For more details, refer to the [documentation](https://dt-url.net/6y235qc).
func (r ApiIngestLogRequest) Structure(structure string) ApiIngestLogRequest {
	r.structure = &structure
	return r
}

// (Optional) Contains ampersand‑separated key–value pairs representing additional log attributes to be added to each ingested log record. If the same key appears multiple times, all values are captured as a multi‑value attribute. Query parameters take precedence over values provided in this header.
func (r ApiIngestLogRequest) XDynatraceAttr(xDynatraceAttr string) ApiIngestLogRequest {
	r.xDynatraceAttr = &xDynatraceAttr
	return r
}

// (Optional) Contains ampersand-separated Dynatrace-specific parameters. Supported options: (SaaS only) &#x60;structure&#x60; (values: &#x60;raw&#x60;, &#x60;flattened&#x60;) defines how input data is structured into log records. Query parameters take precedence over header values. For more details, refer to the [documentation](https://dt-url.net/6y235qc).
func (r ApiIngestLogRequest) XDynatraceOptions(xDynatraceOptions string) ApiIngestLogRequest {
	r.xDynatraceOptions = &xDynatraceOptions
	return r
}

func (r ApiIngestLogRequest) Execute() (*http.Response, error) {
	return r.ApiService.IngestLogExecute(r)
}

/*
IngestLog Implementation of the OTLP/HTTP protocol for logs ingest.

This endpoint can be targeted by OpenTelemetry log exporters.

This endpoint accepts arbitrary query parameters, which are processed as log attribute key-value pairs and added to each ingested log record following the standard rules for log attributes.


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiIngestLogRequest
*/
func (a *OpenTelemetryProtocolOTLPLogsIngestAPIService) IngestLog(ctx context.Context) ApiIngestLogRequest {
	return ApiIngestLogRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *OpenTelemetryProtocolOTLPLogsIngestAPIService) IngestLogExecute(r ApiIngestLogRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "OpenTelemetryProtocolOTLPLogsIngestAPIService.IngestLog")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/otlp/v1/logs"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.body == nil {
		return nil, reportError("body is required and must be specified")
	}

	if r.structure != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "structure", r.structure, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/x-protobuf"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xDynatraceAttr != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Dynatrace-Attr", r.xDynatraceAttr, "simple", "")
	}
	if r.xDynatraceOptions != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Dynatrace-Options", r.xDynatraceOptions, "simple", "")
	}
	// body params
	localVarPostBody = r.body
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["Api-Token"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode >= 400 && localVarHTTPResponse.StatusCode < 500 {
			var v ErrorEnvelope
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode >= 500 {
			var v ErrorEnvelope
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
