# Copyright 2021 Dynatrace LLC

# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at

#     http://www.apache.org/licenses/LICENSE-2.0

# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
apiVersion: apps/v1
kind: Deployment
metadata:
  name: dynatrace-webhook
  namespace: {{ .Release.Namespace }}
  annotations:
  {{- if .Values.webhook.annotations}}
    {{- toYaml .Values.webhook.annotations | nindent 4 }}
  {{- end }}
  labels:
      {{- include "dynatrace-operator.webhookLabels" . | nindent 4 }}
  {{- if .Values.webhook.labels }}
      {{- toYaml .Values.webhook.labels | nindent 4 }}
  {{- end }}
spec:
  replicas: {{ and (.Values.webhook.highAvailability) (not .Values.debug) | ternary 2 1 }}
  revisionHistoryLimit: 1
  selector:
    matchLabels:
      {{- include "dynatrace-operator.webhookSelectorLabels" . | nindent 6 }}
  strategy:
    type: RollingUpdate
  template:
    metadata:
      annotations:
        dynatrace.com/inject: "false"
        kubectl.kubernetes.io/default-container: webhook
        {{- if (.Values.webhook).apparmor}}
        container.apparmor.security.beta.kubernetes.io/webhook: runtime/default
        {{- end }}
        {{- if .Values.webhook.annotations}}
        {{- toYaml .Values.webhook.annotations | nindent 8 }}
        {{- end }}
      labels:
        {{- include "dynatrace-operator.webhookLabels" . | nindent 8 }}
        {{- include "dynatrace-operator.webhookSelectorLabels" . | nindent 8 }}
        {{- if .Values.webhook.labels }}
        {{- toYaml .Values.webhook.labels | nindent 8 }}
        {{- end }}
    spec:
      {{- if (.Values.webhook).highAvailability }}
      topologySpreadConstraints:
        - maxSkew: 1
          topologyKey: "topology.kubernetes.io/zone"
          whenUnsatisfiable: ScheduleAnyway
          labelSelector:
            matchLabels:
              {{- include "dynatrace-operator.webhookSelectorLabels" . | nindent 14 }}
        - maxSkew: 1
          topologyKey: "kubernetes.io/hostname"
          whenUnsatisfiable: DoNotSchedule
          labelSelector:
            matchLabels:
              {{- include "dynatrace-operator.webhookSelectorLabels" . | nindent 14 }}
      {{- end }}
      volumes:
      - emptyDir: {}
        name: certs-dir
      {{- include "dynatrace-operator.nodeAffinity" . | nindent 6 }}
      containers:
        - name: webhook
          args:
            - webhook-server
            # OLM mounts the certificates here, so we reuse it for simplicity
            - --certs-dir=/tmp/k8s-webhook-server/serving-certs/
          image: {{ include "dynatrace-operator.image" . }}
          imagePullPolicy: Always
          env:
            - name: POD_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: WEBHOOK_PORT
              value: "{{ .Values.webhook.ports.server | default "8443" }}"
            - name: HEALTH_PROBE_BIND_ADDRESS
              value: ":{{ .Values.webhook.ports.healthProbe | default "10080" }}"
            - name: METRICS_BIND_ADDRESS
              value: ":{{ .Values.webhook.ports.metrics | default "8383" }}"
            {{ include "dynatrace-operator.modules-json-env" . | nindent 12 }}
          readinessProbe:
            httpGet:
              path: /readyz
              port: livez
              scheme: HTTP
            initialDelaySeconds: 15
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /livez
              port: livez
              scheme: HTTP
            initialDelaySeconds: 15
            periodSeconds: 10
          ports:
            - name: server-port
              containerPort: {{ .Values.webhook.ports.server | default 8443 }}
            - name: livez
              containerPort: {{ .Values.webhook.ports.healthProbe | default 10080 }}
            - name: metrics
              containerPort: {{ .Values.webhook.ports.metrics | default 8383 }}
          resources:
            requests:
              {{- toYaml (.Values.webhook).requests | nindent 14 }}
            limits:
              {{- toYaml (.Values.webhook).limits | nindent 14 }}
          volumeMounts:
            - name: certs-dir
              mountPath: /tmp/k8s-webhook-server/serving-certs/
          securityContext:
          {{- include "webhook.securityContext" . | nindent 12 }}
      serviceAccountName: dynatrace-webhook
      {{- if (.Values.webhook).hostNetwork }}
      hostNetwork: true
      {{- end }}
      securityContext:
        {{- toYaml .Values.webhook.podSecurityContext | nindent 8 }}
      {{- if .Values.customPullSecret }}
      imagePullSecrets:
        - name: {{ .Values.customPullSecret }}
      {{- end }}
      {{- if .Values.webhook.nodeSelector }}
      nodeSelector: {{- toYaml .Values.webhook.nodeSelector | nindent 8 }}
      {{- end }}
      tolerations:
        {{- if .Values.webhook.tolerations }}
        {{- toYaml .Values.webhook.tolerations | nindent 8 }}
        {{- end }}
        {{- include "dynatrace-operator.defaultTolerations" . | nindent 8 }}
