apiVersion: v1
kind: SecurityContextConstraints
metadata:
  annotations:
    kubernetes.io/description: "dynatrace-oneagent-privileged allows access to all privileged and host features and the ability to run as any user, any group, any fsGroup, and with any SELinux context. This is a copy of privileged scc."
  name: dynatrace-dynakube-oneagent-unprivileged
allowHostDirVolumePlugin: true
allowHostIPC: false
allowHostNetwork: true
allowHostPID: true
allowHostPorts: true
allowPrivilegedContainer: false
allowedCapabilities:
  - CHOWN
  - DAC_OVERRIDE
  - DAC_READ_SEARCH
  - FOWNER
  - FSETID
  - KILL
  - NET_ADMIN
  - NET_RAW
  - SETFCAP
  - SETGID
  - SETUID
  - SYS_ADMIN
  - SYS_CHROOT
  - SYS_PTRACE
  - SYS_RESOURCE
allowedFlexVolumes: null
defaultAddCapabilities: null
fsGroup:
  type: RunAsAny
priority: null
readOnlyRootFilesystem: false
requiredDropCapabilities:
  - ALL
runAsUser:
  type: RunAsAny
seLinuxContext:
  type: RunAsAny
seccompProfiles:
  - "*"
supplementalGroups:
  type: RunAsAny
users:
  - system:serviceaccount:dynatrace:dynatrace-dynakube-oneagent-unprivileged
volumes:
  - "*"
