# Copyright 2021 Dynatrace LLC

# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at

#     http://www.apache.org/licenses/LICENSE-2.0

# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
apiVersion: apps/v1
kind: Deployment
metadata:
  name: dynatrace-operator
  namespace: {{ .Release.Namespace }}
  annotations:
  {{- if .Values.operator.annotations }}
    {{- toYaml .Values.operator.annotations | nindent 4 }}
  {{- end }}
  labels:
    dynatrace.com/install-source: {{ include "dynatrace-operator.installSource" . }}
      {{- include "dynatrace-operator.operatorLabels" . | nindent 4 }}
  {{- if .Values.operator.labels }}
      {{- toYaml .Values.operator.labels | nindent 4 }}
  {{- end }}
spec:
  replicas: 1
  revisionHistoryLimit: 1
  selector:
    matchLabels:
      {{- include "dynatrace-operator.operatorSelectorLabels" . | nindent 6 }}
  strategy:
    type: RollingUpdate
  template:
    metadata:
      annotations:
        dynatrace.com/inject: "false"
      {{- if (.Values.operator).apparmor}}
        container.apparmor.security.beta.kubernetes.io/operator: runtime/default
      {{- end }}
      {{- if .Values.operator.annotations }}
        {{- toYaml .Values.operator.annotations | nindent 8 }}
      {{- end }}
      labels:
        {{- include "dynatrace-operator.operatorLabels" . | nindent 8 }}
        {{- include "dynatrace-operator.operatorSelectorLabels" . | nindent 8 }}
        {{- if .Values.operator.labels }}
        {{- toYaml .Values.operator.labels | nindent 8 }}
        {{- end }}
    spec:
      containers:
        - name: operator
          args:
            - operator
          # Replace this with the built image name
          image: {{ include "dynatrace-operator.image" . }}
          imagePullPolicy: Always
          env:
            - name: POD_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: DT_HOST_AVAILABILITY_DETECTION
              value: "{{ .Values.operator.hostAvailabilityDetection }}"
            - name: DT_CRD_STORAGE_MIGRATION
              value: "{{ .Values.operator.crdStorageMigrationInitManager }}"
            {{- if .Values.debugLogs }}
            - name: LOG_LEVEL
              value: "debug"
            {{- end }}
            {{ include "dynatrace-operator.modules-json-env" . | nindent 12}}
          ports:
            - containerPort: 10080
              name: livez
            - containerPort: 8080
              name: metrics
          resources:
            requests:
              {{- toYaml (.Values.operator).requests | nindent 14 }}
            limits:
              {{- toYaml (.Values.operator).limits | nindent 14 }}
          livenessProbe:
            httpGet:
              path: /livez
              port: livez
              scheme: HTTP
            initialDelaySeconds: 15
            periodSeconds: 10
          {{- include "dynatrace-operator.startupProbe" . | nindent 10 }}
          securityContext:
          {{- toYaml .Values.operator.securityContext | nindent 12 }}
      {{- include "dynatrace-operator.nodeAffinity" . | nindent 6 }}
      serviceAccountName: dynatrace-operator
      securityContext:
        {{- toYaml .Values.operator.podSecurityContext | nindent 8 }}
      {{- if .Values.customPullSecret }}
      imagePullSecrets:
        - name: {{ .Values.customPullSecret }}
      {{- end }}
      {{- if .Values.operator.nodeSelector }}
      nodeSelector: {{- toYaml .Values.operator.nodeSelector | nindent 8 }}
      {{- end }}
      tolerations:
        {{- if .Values.operator.tolerations }}
        {{- toYaml .Values.operator.tolerations | nindent 8 }}
        {{- end }}
        {{- include "dynatrace-operator.defaultTolerations" . | nindent 8 }}
