resources:
- bases
#+kubebuilder:scaffold:crdkustomizeresource

apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
patches:
- path: patches/webhook_in_dynakubes.yaml
- path: patches/webhook_in_edgeconnects.yaml
