name: E2E tests ondemand

on:
  workflow_dispatch:
  schedule:
    # At 03:00 UTC on Monday, Wednesday, and Friday.
    - cron: 0 3 * * 1,3,5

env:
  branch: release-1.7

permissions:
  checks: write

# based on:
# https://docs.dynatrace.com/docs/setup-and-configuration/technology-support/support-model-for-kubernetes
# https://kubernetes.io/releases/
jobs:
  run-matrix:
    name: Run using version/platform
    strategy:
      # we don't want to cancel all in-progress jobs if any matrix job fails.
      fail-fast: false
      max-parallel: 4
      matrix:
        include:
          - version: 1-28
            platform: k8s
          - version: 1-29
            platform: k8s
          - version: 1-30
            platform: k8s
          - version: 1-31
            platform: k8s
          - version: 1-32
            platform: k8s
          - version: 1-33
            platform: k8s
          - version: 1-34
            platform: k8s
          - version: 4-12
            platform: ocp
          - version: 4-13
            platform: ocp
          - version: 4-14
            platform: ocp
          - version: 4-15
            platform: ocp
          - version: 4-16
            platform: ocp
          - version: 4-17
            platform: ocp
          - version: 4-18
            platform: ocp
    environment: E2E
    runs-on:
      - self-hosted
      - operator-e2e
    outputs:
      cluster_creation_failed: ${{ steps.cluster_creation_status.outputs.cluster_creation_failed }}
      test_failed: ${{ steps.cluster_creation_status.outputs.test_failed }}
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Run e2e test
        id: run_e2e_test
        uses: ./.github/actions/run-e2e
        with:
          flc-namespace: ${{ format('dto-{0}-ondemand', matrix.platform ) }}
          flc-environment: ${{ format('dto-{0}-{1}',  matrix.platform, matrix.version ) }}
          target-branch: ${{ env.branch }}
          tenant1-name: ${{ secrets.TENANT1_NAME }}
          tenant1-apitoken: ${{ secrets.TENANT1_APITOKEN }}
          tenant1-apitoken-nosettings: ${{ secrets.TENANT1_APITOKEN_NOSETTINGS }}
          tenant1-dataingesttoken: ${{ secrets.TENANT1_DATAINGESTTOKEN }}
          tenant1-oauth-client-id: ${{ secrets.TENANT1_OAUTH_CLIENT_ID }}
          tenant1-oauth-secret: ${{ secrets.TENANT1_OAUTH_SECRET }}
          tenant1-oauth-urn: ${{ secrets.TENANT1_OAUTH_URN }}
          tenant2-name: ${{ secrets.TENANT2_NAME }}
          tenant2-apitoken: ${{ secrets.TENANT2_APITOKEN }}
          tenant2-dataingesttoken: ${{ secrets.TENANT2_DATAINGESTTOKEN }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
      - name: Determine cluster status
        id: cluster_creation_status
        if: failure()
        run: |
          echo "cluster_status=${{ steps.run_e2e_test.outputs.cluster_status }}"
          if [[ "${{ steps.run_e2e_test.outputs.cluster_status }}" == "skipped" ]]; then
            echo "cluster_creation_failed=true" >> $GITHUB_OUTPUT
            exit 1
          fi

          echo "test_failed=true" >> $GITHUB_OUTPUT

  notify-failure:
    name: Notify failure in Slack
    environment: E2E
    needs: [run-matrix]
    if: ${{ failure() || cancelled() }}
    runs-on: ubuntu-latest
    steps:
      - name: Set Slack message
        id: set_slack_message
        run: |
          if [ "${{ needs.run-matrix.outputs.cluster_creation_failed }}" = "true" ] && [ "${{ needs.run-matrix.outputs.test_failed }}" != "true" ]; then
            echo "SLACK_MESSAGE=:large_yellow_circle: Cluster creation issues: Some E2E ondemand tests were skipped on ${{ env.branch }} branch (${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }})" >> $GITHUB_ENV
          else
            echo "SLACK_MESSAGE=:red_circle: E2E ondemand tests failed on ${{ env.branch }} branch (${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }})" >> $GITHUB_ENV
          fi
      - name: Notify failure in Slack
        uses: slackapi/slack-github-action@91efab103c0de0a537f72a35f6b8cda0ee76bf0a # v2.1.1
        with:
          webhook: ${{ secrets.SLACK_WEBHOOK_URL }}
          webhook-type: webhook-trigger
          payload-templated: true
          payload: |
            "message": "${{ env.SLACK_MESSAGE }}"
            "run_id": "${{ github.run_id }}"
