name: E2E tests ondemand

on:
  schedule:
    # At 03:00 UTC on Monday, Wednesday, and Friday.
    - cron: 0 3 * * 1,3,5

env:
  branch: 'release-1.3'

permissions:
  checks: write

# based on:
# https://docs.dynatrace.com/docs/setup-and-configuration/technology-support/support-model-for-kubernetes
# https://kubernetes.io/releases/
jobs:
  run-matrix:
    name: Run using version/platform
    strategy:
      # we don't want to cancel all in-progress jobs if any matrix job fails.
      fail-fast: false
      max-parallel: 4
      matrix:
        include:
          - version: 1-25
            platform: k8s
          - version: 1-26
            platform: k8s
          - version: 1-27
            platform: k8s
          - version: 1-28
            platform: k8s
          - version: 1-29
            platform: k8s
          - version: 4-10
            platform: ocp
          - version: 4-11
            platform: ocp
          - version: 4-12
            platform: ocp
          - version: 4-13
            platform: ocp
          - version: 4-14
            platform: ocp
          - version: 4-15
            platform: ocp
    environment: E2E
    runs-on:
      - self-hosted
      - operator-e2e
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: Run e2e test
        uses: ./.github/actions/run-e2e
        with:
          flc-namespace: ${{ format('dto-{0}-ondemand', matrix.platform ) }}
          flc-environment: ${{ format('dto-{0}-{1}',  matrix.platform, matrix.version ) }}
          target-branch: ${{ env.branch }}
          tenant1-name: ${{ secrets.TENANT1_NAME }}
          tenant1-apitoken: ${{ secrets.TENANT1_APITOKEN }}
          tenant1-oauth-client-id: ${{ secrets.TENANT1_OAUTH_CLIENT_ID }}
          tenant1-oauth-secret: ${{ secrets.TENANT1_OAUTH_SECRET }}
          tenant1-oauth-urn: ${{ secrets.TENANT1_OAUTH_URN }}
          tenant2-name: ${{ secrets.TENANT2_NAME }}
          tenant2-apitoken: ${{ secrets.TENANT2_APITOKEN }}
          github-token: ${{ secrets.GITHUB_TOKEN }}


  notify-failure:
    name: Notify failure in Slack
    environment: E2E
    needs: [run-matrix]
    if: ${{ failure() || cancelled() }}
    runs-on: ubuntu-latest
    steps:
      - name: Notify failure in Slack
        uses: slackapi/slack-github-action@485a9d42d3a73031f12ec201c457e2162c45d02d # v2.0.0
        with:
          webhook: ${{ secrets.SLACK_WEBHOOK_URL }}
          webhook-type: webhook-trigger
          payload-templated: true
          payload: |
            "message": ":red_circle: E2E ondemand tests failed on ${{ env.branch }} branch (${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }})"
            "run_id": "${{ github.run_id }}"
