name: E2E tests ondemand

on:
  workflow_dispatch:
    inputs:
      target:
        description: 'Target branch to run E2E tests over'
        required: true
        # TODO: @andriisoldatenko revisit it
        default: 'release-1.1'

permissions:
  checks: write

jobs:
  run-in-k8s-1-25:
    name: Run in Kubernetes 1.25
    environment: E2E
    runs-on:
      - self-hosted
      - operator-e2e
    steps:
      - name: Checkout
        uses: actions/checkout@a5ac7e51b41094c92402da3b24376905380afc29 # v4.1.6
      - name: Run e2e test
        uses: ./.github/actions/run-e2e
        with:
          flc-namespace: dto-ocp-ondemand
          flc-environment: dto-k8s-1-25
          target-branch: ${{ github.event.inputs.target }}
          tenant1-apitoken: ${{ secrets.TENANT1_APITOKEN }}
          tenant1-oteltoken: ${{ secrets.TENANT1_OTELTOKEN }}
          tenant1-oauth-client-id: ${{ secrets.TENANT1_OAUTH_CLIENT_ID }}
          tenant1-oauth-secret: ${{ secrets.TENANT1_OAUTH_SECRET }}
          tenant2-name: ${{ secrets.TENANT2_NAME }}
          tenant2-apitoken: ${{ secrets.TENANT2_APITOKEN }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
