name: E2E tests ondemand

on:
  workflow_dispatch:
  schedule:
    # At 03:00 UTC on Monday, Wednesday, and Friday.
    - cron: 0 3 * * 1,3,5

env:
  branch: release-1.7

permissions:
  checks: write

# based on:
# https://docs.dynatrace.com/docs/setup-and-configuration/technology-support/support-model-for-kubernetes
# https://kubernetes.io/releases/
jobs:
  run-matrix:
    name: Run using version/platform
    strategy:
      # we don't want to cancel all in-progress jobs if any matrix job fails.
      fail-fast: false
      max-parallel: 4
      matrix:
        include:
          - version: 1-28
            platform: k8s
          - version: 1-29
            platform: k8s
          - version: 1-30
            platform: k8s
          - version: 1-31
            platform: k8s
          - version: 1-32
            platform: k8s
          - version: 1-33
            platform: k8s
          - version: 1-34
            platform: k8s
#          - version: 4-12
#            platform: ocp
#          - version: 4-13
#            platform: ocp
#          - version: 4-14
#            platform: ocp
#          - version: 4-15
#            platform: ocp
#          - version: 4-16
#            platform: ocp
#          - version: 4-17
#            platform: ocp
#          - version: 4-18
#            platform: ocp
    environment: E2E
    runs-on:
      - self-hosted
      - operator-e2e
    outputs:
      k8s_1_28_result: ${{ steps.prepare_outputs.outputs.k8s_1_28_result }}
      k8s_1_28_cluster_status: ${{ steps.prepare_outputs.outputs.k8s_1_28_cluster_status }}
      k8s_1_28_run_id: ${{ steps.prepare_outputs.outputs.k8s_1_28_run_id }}
      k8s_1_29_run_id: ${{ steps.prepare_outputs.outputs.k8s_1_29_run_id }}
      k8s_1_30_run_id: ${{ steps.prepare_outputs.outputs.k8s_1_30_run_id }}
      k8s_1_31_run_id: ${{ steps.prepare_outputs.outputs.k8s_1_31_run_id }}
      k8s_1_32_run_id: ${{ steps.prepare_outputs.outputs.k8s_1_32_run_id }}
      k8s_1_33_run_id: ${{ steps.prepare_outputs.outputs.k8s_1_33_run_id }}
      k8s_1_34_run_id: ${{ steps.prepare_outputs.outputs.k8s_1_34_run_id }}
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Run e2e test
        id: run_e2e_test
        run: |
          echo "Running e2e tests for platform: ${{matrix.platform}}, version: ${{ matrix.version }}"
#        uses: ./.github/actions/run-e2e
#        with:
#          flc-namespace: ${{ format('dto-{0}-ondemand', matrix.platform ) }}
#          flc-environment: ${{ format('dto-{0}-{1}',  matrix.platform, matrix.version ) }}
#          target-branch: ${{ env.branch }}
#          tenant1-name: ${{ secrets.TENANT1_NAME }}
#          tenant1-apitoken: ${{ secrets.TENANT1_APITOKEN }}
#          tenant1-apitoken-nosettings: ${{ secrets.TENANT1_APITOKEN_NOSETTINGS }}
#          tenant1-dataingesttoken: ${{ secrets.TENANT1_DATAINGESTTOKEN }}
#          tenant1-oauth-client-id: ${{ secrets.TENANT1_OAUTH_CLIENT_ID }}
#          tenant1-oauth-secret: ${{ secrets.TENANT1_OAUTH_SECRET }}
#          tenant1-oauth-urn: ${{ secrets.TENANT1_OAUTH_URN }}
#          tenant2-name: ${{ secrets.TENANT2_NAME }}
#          tenant2-apitoken: ${{ secrets.TENANT2_APITOKEN }}
#          tenant2-dataingesttoken: ${{ secrets.TENANT2_DATAINGESTTOKEN }}
#          github-token: ${{ secrets.GITHUB_TOKEN }}
      - name: Prepare outputs
        id: prepare_outputs
        if: always()
        run: |
          PLATFORM_VERSION="${{ matrix.platform }}_${{ matrix.version }}"
          PLATFORM_VERSION_CLEAN=${PLATFORM_VERSION//-/_}

          echo "${PLATFORM_VERSION_CLEAN}_run_id=${{ job.check_run_id }}" >> $GITHUB_OUTPUT
          echo "${PLATFORM_VERSION_CLEAN}_result=${{ steps.run_e2e_test.result}}" >> $GITHUB_OUTPUT
          echo "${PLATFORM_VERSION_CLEAN}_cluster_status=${{ steps.run_e2e_test.outputs.cluster_status }}" >> $GITHUB_OUTPUT

          if [[ "${{ steps.run_e2e_test.outputs.cluster_status }}" == "skipped" ]]; then
            exit 1
          fi
  notify-slack:
    name: Notify test results in Slack
    environment: E2E
    needs: [run-matrix]
    runs-on: ubuntu-24.04
    if: ${{ always() }}
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Set Slack message
        id: set_slack_message
        run: |
          get_emoji() {
            if [ "$1" = "skipped" ]; then
              echo "large_yellow_circle"
            elif [ "$2" = "success" ]; then
              echo "white_check_mark"
            else
              echo "red_circle"
            fi
          }
          echo "K8S_1_28_RUN_ID_URL=${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}/job/${{ needs.run-matrix.outputs.k8s_1_28_run_id }}" >> $GITHUB_ENV
          echo "K8S_1_29_RUN_ID_URL=${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}/job/${{ needs.run-matrix.outputs.k8s_1_29_run_id }}" >> $GITHUB_ENV

          K8S_1_28_STATUS=$(get_emoji "${{ needs.run-matrix.outputs.k8s_1_28_cluster_status }}" "${{ needs.run-matrix.outputs.k8s_1_28_result }}")
          echo "K8S_1_28_STATUS=$K8S_1_28_STATUS" >> $GITHUB_ENV

          K8S_1_29_STATUS=$(get_emoji "${{ needs.run-matrix.outputs.k8s_1_29_cluster_status }}" "${{ needs.run-matrix.outputs.k8s_1_29_result }}")
          echo "K8S_1_29_STATUS=$K8S_1_29_STATUS" >> $GITHUB_ENV
      - name: debug
        run: echo "$GITHUB_ENV"
#      - name: Notify failure in Slack
#        uses: slackapi/slack-github-action@91efab103c0de0a537f72a35f6b8cda0ee76bf0a # v2.1.1
#        with:
#          webhook: ${{ secrets.SLACK_WEBHOOK_URL }}
#          webhook-type: incoming-webhook
#          errors: true
#          payload-templated: true
#          payload-file-path: ./hack/slack/slack-e2e-ondemand-payload.json
