name: E2E tests

on:
  schedule:
    # every work day at 00:00 UTC
    - cron: 0 0 * * 1-5
  workflow_dispatch:
    inputs:
      target:
        description: 'Target branch to run E2E tests over'
        required: true
        default: 'main'
      helm-chart:
        description: 'Helm chart used for installation'
        required: true
        default: 'oci://quay.io/dynatrace/dynatrace-operator:0.0.0-nightly-chart'
        type: string

permissions:
  checks: write

jobs:
  run-in-k8s:
    name: Run in Kubernetes latest (${{ github.event.inputs.target || 'main' }})
    environment: E2E
    runs-on:
      - self-hosted
      - operator-e2e
    outputs:
      cluster_status: ${{ steps.run_e2e_test.outputs.cluster_status }}
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Run e2e test
        id: run_e2e_test
        run: |
            echo "Running E2E tests in Kubernetes latest"

      - name: Determine cluster status
        if: failure()
        run: |
          if [[ "${{ steps.run_e2e_test.outputs.cluster_status }}" == "skipped" ]]; then
            exit 1
          fi
  run-in-ocp:
    name: Run in OpenShift latest (${{ github.event.inputs.target || 'main' }})
    environment: E2E
    runs-on:
      - self-hosted
      - operator-e2e
    outputs:
      cluster_status: ${{ steps.run_e2e_test.outputs.cluster_status }}
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Run e2e test
        id: run_e2e_test
        run: |
          echo "Running E2E tests in OCP latest"
      - name: Determine cluster status
        if: failure()
        run: |
          if [[ "${{ steps.run_e2e_test.outputs.cluster_status }}" == "skipped" ]]; then
            exit 1
          fi
  run-in-ocp-fips:
    name: Run in FIPS OpenShift (${{ github.event.inputs.target || 'main' }})
    environment: E2E
    runs-on:
      - self-hosted
      - operator-e2e
    outputs:
      cluster_status: ${{ steps.run_e2e_test.outputs.cluster_status }}
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Run e2e test
        id: run_e2e_test
        run: |
          echo "Running E2E tests in Kubernetes latest"
      - name: Determine cluster status
        if: failure()
        run: |
          if [[ "${{ steps.run_e2e_test.outputs.cluster_status }}" == "skipped" ]]; then
            exit 1
          fi

  notify-slack:
    name: Notify test results in Slack
    environment: E2E
    needs: [ "run-in-k8s"]
    runs-on: ubuntu-24.04
    if: ${{ always() }}
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Set Slack message
        id: set_slack_message
        env:
          TARGET_BRANCH: ${{ github.event.inputs.target || 'main' }}
        run: |
          get_status() {
            if [ "$1" = "skipped" ]; then
              echo "tests skipped :large_yellow_circle: due to cluster creation failure"
            elif [ "$2" = "success" ]; then
              echo "tests passed :green_heavy_check_mark:"
            else
              echo "tests failed :red_circle:"
            fi
          }
          K8S_STATUS=$(get_status "${{ needs.run-in-k8s.outputs.cluster_status }}" "${{ needs.run-in-k8s.result }}")
          OCP_STATUS=$(get_status "${{ needs.run-in-ocp.outputs.cluster_status }}" "${{ needs.run-in-ocp.result }}")
          OCP_FIPS_STATUS=$(get_status "${{ needs.run-in-ocp-fips.outputs.cluster_status }}" "${{ needs.run-in-ocp-fips.result }}")
          echo "K8S_STATUS=$K8S_STATUS" >> $GITHUB_ENV
          echo "OCP_STATUS=$OCP_STATUS" >> $GITHUB_ENV
          echo "OCP_FIPS_STATUS=$OCP_FIPS_STATUS" >> $GITHUB_ENV
      - name: Notify failure in Slack
        uses: slackapi/slack-github-action@91efab103c0de0a537f72a35f6b8cda0ee76bf0a # v2.1.1
        with:
          webhook: ${{ secrets.SLACK_WEBHOOK_URL }}
          webhook-type: incoming-webhook
          errors: true
          payload-templated: true
          payload-file-path: ./hack/slack/slack-e2e-payload.json
