name: E2E tests ondemand

on:
  schedule:
    # every Mon/Wed/Fri at 08:00 UTC
    - cron: 0 8 * * 1,3,5
  workflow_dispatch:
    inputs:
      target:
        description: 'Target branch to run E2E tests over'
        required: true
        default: 'release-1.1'

permissions:
  checks: write

# based on:
# https://docs.dynatrace.com/docs/setup-and-configuration/technology-support/support-model-for-kubernetes
# https://kubernetes.io/releases/
jobs:
  run-matrix:
    name: Run using version/platform
    strategy:
      # we don't want to cancel all in-progress jobs if any matrix job fails.
      fail-fast: false
      max-parallel: 4
      matrix:
        include:
          - version: 1-24
            platform: k8s
          - version: 1-25
            platform: k8s
          - version: 1-26
            platform: k8s
          - version: 1-27
            platform: k8s
          - version: 1-28
            platform: k8s
          - version: 1-29
            platform: k8s
          - version: 4-10
            platform: ocp
          - version: 4-11
            platform: ocp
          - version: 4-12
            platform: ocp
          - version: 4-13
            platform: ocp
    environment: E2E
    runs-on:
      - self-hosted
      - operator-e2e
    steps:
      - name: Checkout
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7
      - name: Run e2e test
        uses: ./.github/actions/run-e2e
        with:
          flc-namespace: ${{ format('dto-{0}-ondemand', matrix.platform ) }}
          flc-environment: ${{ format('dto-{0}-{1}',  matrix.platform, matrix.version ) }}
          target-branch: ${{ github.event.inputs.target }}
          tenant1-name: ${{ secrets.TENANT1_NAME }}
          tenant1-apitoken: ${{ secrets.TENANT1_APITOKEN }}
          tenant1-oteltoken: ${{ secrets.TENANT1_OTELTOKEN }}
          tenant1-oauth-client-id: ${{ secrets.TENANT1_OAUTH_CLIENT_ID }}
          tenant1-oauth-secret: ${{ secrets.TENANT1_OAUTH_SECRET }}
          tenant2-name: ${{ secrets.TENANT2_NAME }}
          tenant2-apitoken: ${{ secrets.TENANT2_APITOKEN }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
