name: CI-FIPS

on:
  push:
    branches:
      - main
      - release-*
  pull_request:
    branches:
      - "*"

permissions:
  contents: read

env:
  DOCKER_REGISTRY: quay.io
  DOCKER_REPOSITORY: dynatrace/dynatrace-operator

jobs:
  detect-changes:
    name: Detect Changes
    runs-on: ubuntu-24.04
    outputs:
      go_changed: ${{ steps.go-files.outputs.any_changed == 'true' && 'true' || '' }}
      docker_changed: ${{ steps.dockerfile.outputs.any_changed == 'true' && 'true' || '' }}
      ci_changed: ${{ steps.ci.outputs.any_changed == 'true' && 'true' || '' }}
      is_protected_branch: ${{ steps.is-protected-branch.outputs.is_protected_branch == 'true' && 'true' || '' }}
      is_docker_authorized: ${{ steps.is-docker-authorized.outputs.is_authorized == 'true' && 'true' || '' }}
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 2
          ref: ${{ github.event.pull_request.head.sha || github.sha }}
      - name: Check if it is a protected branch
        id: is-protected-branch
        run: |
          if [[ "$GITHUB_REF" == "refs/heads/main" || "$GITHUB_REF" == refs/heads/release-* ]]; then
            echo "is_protected_branch=true" >> "$GITHUB_OUTPUT"
          else
            echo "is_protected_branch=false" >> "$GITHUB_OUTPUT"
          fi
      - name: Check if docker credentials are present
        id: is-docker-authorized
        run: |
          echo "is_authorized=${{ secrets.QUAY_USERNAME != '' && secrets.QUAY_PASSWORD != '' }}" >> $GITHUB_OUTPUT
      - name: Detect CI file changes
        uses: tj-actions/changed-files@e0021407031f5be11a464abee9a0776171c79891 # v47.0.1
        id: ci
        with:
          files: |
            .github/workflows/**
            .github/actions/**
          base_sha: ${{ github.event_name == 'pull_request' && github.event.pull_request.base.sha || github.event.before }}
      - name: Detect Go file changes
        uses: tj-actions/changed-files@e0021407031f5be11a464abee9a0776171c79891 # v47.0.1
        id: go-files
        with:
          files: |
            **/*.go
            go.mod
          base_sha: ${{ github.event_name == 'pull_request' && github.event.pull_request.base.sha || github.event.before }}
      - name: Detect fips.Dockerfile changes
        uses: tj-actions/changed-files@e0021407031f5be11a464abee9a0776171c79891 # v47.0.1
        id: dockerfile
        with:
          files: |
            fips.Dockerfile
          base_sha: ${{ github.event_name == 'pull_request' && github.event.pull_request.base.sha || github.event.before }}
      - name: List Changed Files
        run: |
          echo "CI changed: ${{ steps.ci.outputs.all_changed_files }}"
          echo "Go changed: ${{ steps.go-files.outputs.all_changed_files }}"
          echo "Dockerfile changed: ${{ steps.dockerfile.outputs.all_changed_files }}"

  prepare:
    name: Prepare properties
    needs: [detect-changes]
    if: needs.detect-changes.outputs.is_protected_branch || needs.detect-changes.outputs.go_changed || needs.detect-changes.outputs.docker_changed || needs.detect-changes.outputs.ci_changed
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Prepare build parameters
        id: prep
        run: |
          hack/build/ci/prepare-build-variables.sh
    outputs:
      labels: ${{ steps.prep.outputs.docker_image_labels }}
      version: ${{ steps.prep.outputs.docker_image_tag }}

  build-images:
    name: Build images
    needs: [detect-changes]
    if: needs.detect-changes.outputs.is_docker_authorized && (needs.detect-changes.outputs.is_protected_branch || needs.detect-changes.outputs.go_changed || needs.detect-changes.outputs.docker_changed || needs.detect-changes.outputs.ci_changed)
    strategy:
      matrix:
        platform: [linux/arm64, linux/amd64]
        include:
          - platform: linux/arm64
            image-postfix: fips-arm64
            runner: ubuntu-24.04-arm
          - platform: linux/amd64
            image-postfix: fips-amd64
            runner: ubuntu-latest
    runs-on: ${{ matrix.runner }}
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Login to Registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: quay.io
          username: ${{ secrets.QUAY_USERNAME }}
          password: ${{ secrets.QUAY_PASSWORD }}
      - name: Build ${{ matrix.platform }} image
        uses: ./.github/actions/build-push-image
        with:
          platforms: ${{ matrix.platform }}
          images: ${{ env.DOCKER_REGISTRY }}/${{ env.DOCKER_REPOSITORY }}
          suffix: ${{ matrix.image-postfix }}
          dockerfile: ./fips.Dockerfile

  index:
    name: Create image-index
    needs: [detect-changes, prepare, build-images]
    if: needs.detect-changes.outputs.is_protected_branch || needs.detect-changes.outputs.go_changed || needs.detect-changes.outputs.docker_changed || needs.detect-changes.outputs.ci_changed
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Login to Registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: quay.io
          username: ${{ secrets.QUAY_USERNAME }}
          password: ${{ secrets.QUAY_PASSWORD }}
      - name: Create Manifests
        env:
          IMAGE: ${{ env.DOCKER_REGISTRY }}/${{ env.DOCKER_REPOSITORY }}:${{ needs.prepare.outputs.version }}-fips
        shell: bash
        run: |
          hack/build/ci/create-image-index.sh "${IMAGE}"
