name: GCR Deployer image
on:
  pull_request:
    branches:
      - release-*
    types:
      - closed

env:
  GOOGLE_MARKETPLACE_ANNOTATION: com.googleapis.cloudmarketplace.product.service.name=services/dynatrace-operator-dynatrace-marketplace-prod.cloudpartnerservices.goog
  PLATFORMS: linux/amd64,linux/arm64,linux/ppc64le,linux/s390x
  DEPLOYER_PLATFORMS: linux/amd64


jobs:
  prepare:
    if: github.event.pull_request.merged == true && startsWith(github.event.pull_request.head.ref, 'csv-') && startsWith(github.event.pull_request.base.ref, 'release-')
    name: Prepare properties
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Prepare build parameters
        id: prep
        run: |
          hack/build/ci/prepare-build-variables.sh
    outputs:
      labels: ${{ steps.prep.outputs.docker_image_labels }}
      version: ${{ steps.prep.outputs.docker_image_tag }}
      version_without_prefix: ${{ steps.prep.outputs.docker_image_tag_without_prefix }}
    
  build-gcr-deployer:
      if: github.event.pull_request.merged == true && startsWith(github.event.pull_request.head.ref, 'csv-') && startsWith(github.event.pull_request.base.ref, 'release-')
      name: Build GCR deployer image
      environment: Release
      runs-on: ubuntu-24.04
      needs: [ prepare ]
      env:
        IMAGE: gcr.io/${{ secrets.GCR_REPOSITORY_DEPLOYER }}:${{ needs.prepare.outputs.version }}
        IMAGE_NO_PREFIX: gcr.io/${{ secrets.GCR_REPOSITORY_DEPLOYER }}:${{ needs.prepare.outputs.version_without_prefix }}
      steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Login to Docker Hub
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: gcr.io
          username: ${{ secrets.GCR_USERNAME }}
          password: ${{ secrets.GCR_JSON_KEY }}
      - name: Set up QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # 3.12.0
      - name: Build and push
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # 6.18.0
        with:
          platforms: ${{ env.DEPLOYER_PLATFORMS }}
          provenance: false
          context: ./config/helm
          file: ./config/helm/Dockerfile
          push: true
          tags: ${{ env.IMAGE }},${{ env.IMAGE_NO_PREFIX }}
          annotations: |
            ${{ env.GOOGLE_MARKETPLACE_ANNOTATION }}
