name: Nightly build

on:
  schedule:
    # every work day at 00:00 UTC
    - cron: 0 0 * * 1-5

env:
  IMAGE_REGISTRY: ghcr.io
  IMAGE_NAME: dynatrace/dynatrace-operator
  PLATFORMS: linux/amd64,linux/arm64,linux/ppc64le,linux/s390x

jobs:
  prepare:
    if: github.repository_owner == 'Dynatrace'
    permissions:
      contents: read
    name: Prepare properties
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Prepare build parameters
        id: prep
        run: |
          hack/build/ci/prepare-build-variables.sh
    outputs:
      version: ${{ steps.prep.outputs.docker_image_tag }}
      version_without_prefix: ${{ steps.prep.outputs.docker_image_tag_without_prefix }}

  build-push:
    if: github.repository_owner == 'Dynatrace'
    name: Build images
    needs: [prepare]
    runs-on: ubuntu-24.04
    permissions:
      packages: write
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Login to Registry
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3.7.0
        with:
          registry: ${{ env.IMAGE_REGISTRY }}
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build image
        id: build-image
        uses: ./.github/actions/build-push-image
        with:
          platforms: ${{ env.PLATFORMS }}
          images: ${{ env.IMAGE_REGISTRY }}/${{ env.IMAGE_NAME }}
    outputs:
      digest: ${{ steps.build-image.outputs.digest }}

  signing:
    if: github.repository_owner == 'Dynatrace'
    name: Sign the image index/manifests + Add SBOM
    environment: Release
    needs: [prepare, build-push]
    runs-on: ubuntu-24.04
    permissions:
      id-token: write
      packages: write
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Login to Registry
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3.7.0
        with:
          registry: ${{ env.IMAGE_REGISTRY }}
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Sign images
        uses: ./.github/actions/sign-image
        with:
          image: ${{ env.IMAGE_REGISTRY }}/${{ env.IMAGE_NAME }}:${{ needs.prepare.outputs.version }}@${{ needs.build-push.outputs.digest }}
          signing-key: ${{ secrets.COSIGN_PRIVATE_KEY }}
          signing-password: ${{ secrets.COSIGN_PASSWORD }}
      - name: Create SBOM
        id: sbom
        uses: aquasecurity/trivy-action@b6643a29fecd7f34b3597bc6acb0a98b03d33ff8 # 0.33.1
        with:
          image-ref: ${{ env.IMAGE_REGISTRY }}/${{ env.IMAGE_NAME }}:${{ needs.prepare.outputs.version }}@${{ needs.build-push.outputs.digest }}
          format: 'cyclonedx'
          output: 'result.json'
          skip-dirs: '/usr/share/dynatrace-operator/third_party_licenses'
          skip-files: '/usr/local/bin/dynatrace-operator'
      - name: Upload SBOM
        uses: ./.github/actions/upload-sbom
        with:
          image: ${{ env.IMAGE_REGISTRY }}/${{ env.IMAGE_NAME }}:${{ needs.prepare.outputs.version }}@${{ needs.build-push.outputs.digest }}
          sbom: 'result.json'
          signing-key: ${{ secrets.COSIGN_PRIVATE_KEY }}
          signing-password: ${{ secrets.COSIGN_PASSWORD }}

  release:
    if: github.repository_owner == 'Dynatrace'
    name: Create release
    needs: [prepare, build-push, signing]
    environment: Release
    permissions:
      id-token: write
      packages: write
    runs-on: ubuntu-24.04
    env:
      HELM_PACKAGE_VERSION: 0.0.0-${{ needs.prepare.outputs.version_without_prefix }}
    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Setup Golang
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version: 'stable' # Latest stable version
          cache: false
      - name: Build helm packages
        uses: ./.github/actions/build-helm
        with:
          version_without_prefix: ${{ env.HELM_PACKAGE_VERSION }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
          secring: ${{ secrets.HELM_SECRING }}
          passphrase: ${{ secrets.HELM_PASSPHRASE }}
          output-dir: "./helm-pkg"
      - name: Authenticate Helm
        shell: bash
        run: |
          helm registry login -u "${{ github.repository_owner }}" -p "${{ secrets.GITHUB_TOKEN }}" "${{ env.IMAGE_REGISTRY }}"
      - name: Authenticate Docker
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3.7.0
        with:
          registry: ${{ env.IMAGE_REGISTRY }}
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Upload and sign helm package
        uses: ./.github/actions/upload-nightly-helm
        with:
          version: ${{ needs.prepare.outputs.version }}
          cosign-private-key: ${{ secrets.COSIGN_PRIVATE_KEY }}
          cosign-password: ${{ secrets.COSIGN_PASSWORD }}
          registry-url: ghcr.io
          registry-namespace: dynatrace
          helm-repository-name: dynatrace-operator
          image-tag-prefix: "0.0.0-"
          mutable-nightly-tag: "nightly-chart"
