name: Publish images

on:
  push:
    tags:
      - v[0-9]+.[0-9]+.[0-9]+

jobs:
  prepare:
    name: Prepare properties
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Prepare build parameters
        id: prep
        run: |
          hack/build/ci/prepare-build-variables.sh
    outputs:
      labels: ${{ steps.prep.outputs.docker_image_labels }}
      version: ${{ steps.prep.outputs.docker_image_tag }}
      goargs: ${{ steps.prep.outputs.go_build_args }}
      goversion: ${{ steps.prepenv.outputs.goversion }}

  # Workflow needs to build docker images again as separate workflows don't have access to others artifacts
  # https://github.com/actions/download-artifact/issues/3
  build-amd64:
    name: Build image amd64
    needs: [prepare]
    with:
      platform: amd64
      goversion: ${{ needs.prepare.outputs.goversion }}
      goargs: ${{ needs.prepare.outputs.goargs }}
      labels: ${{ needs.prepare.outputs.labels }}
      image-tag: ${{ needs.prepare.outputs.version }}
    uses: ./.github/workflows/build-dockerimage.yaml

  build-arm64:
    name: Build image arm64
    needs: [prepare]
    with:
      platform: arm64
      goversion: ${{ needs.prepare.outputs.goversion }}
      goargs: ${{ needs.prepare.outputs.goargs }}
      labels: ${{ needs.prepare.outputs.labels }}
      image-tag: ${{ needs.prepare.outputs.version }}
    uses: ./.github/workflows/build-dockerimage.yaml

  push-quay:
    name: Push to quay
    needs: [prepare, build-amd64]
    uses: ./.github/workflows/upload-dockerimage.yaml
    with:
      platform: amd64
      labels: ${{ needs.prepare.outputs.labels }}
      version: ${{ needs.prepare.outputs.version }}
      registry: quay.io
      repository: dynatrace/dynatrace-operator
    secrets:
      docker_repo_username: ${{ secrets.QUAY_USERNAME }}
      docker_repo_password: ${{ secrets.QUAY_PASSWORD }}

  preflight:
    name: Validate image with RedHat's preflight tool
    needs: [prepare, push-quay]
    uses: ./.github/workflows/preflight.yaml
    with:
      platform: amd64
      version: ${{ needs.prepare.outputs.version }}
      registry: quay.io
      repository: dynatrace/dynatrace-operator

  push:
    name: Push images
    environment: Release
    needs: [prepare,build-arm64,build-amd64,preflight]
    runs-on: ubuntu-latest
    strategy:
      matrix:
        platform: [amd64, arm64]
        registry: [rhcc, gcr, dockerhub]
        include:
          - registry: rhcc
            url: registry.connect.redhat.com
            repository: dynatrace/dynatrace-operator
            username: ${{ secrets.RHCC_USERNAME }}
            password: ${{ secrets.RHCC_PASSWORD }}
          - registry: gcr
            url: gcr.io
            repository: dynatrace-marketplace-prod/dynatrace-operator
            username: ${{ secrets.GCR_USERNAME }}
            password: ${{ secrets.GCR_PASSWORD }}
          - registry: dockerhub
            url: docker.io
            repository: dynatrace/dynatrace-operator
            username: ${{ secrets.DOCKERHUB_USERNAME }}
            password: ${{ secrets.DOCKERHUB_PASSWORD }}
    steps:
      - name: Push ${{matrix.platform}} to ${{matrix.registry}}
        uses: ./.github/workflows/upload-dockerimage.yaml
        with:
          platform: ${{matrix.platform}}
          labels: ${{ needs.prepare.outputs.labels }}
          version: ${{ needs.prepare.outputs.version }}
          registry: ${{matrix.url}}
          repository: ${{matrix.repository}}
          secrets.docker_repo_username: ${{matrix.username}}
          secrets.docker_repo_password: ${{matrix.password}}

  manifest:
    name: Create manifests
    needs: [prepare, push]
    runs-on: ubuntu-latest
    strategy:
      matrix:
        registry: [ rhcc, gcr, dockerhub ]
        include:
          - registry: rhcc
            url: registry.connect.redhat.com
            repository: dynatrace/dynatrace-operator
            username: ${{ secrets.RHCC_USERNAME }}
            password: ${{ secrets.RHCC_PASSWORD }}
          - registry: gcr
            url: gcr.io
            repository: dynatrace-marketplace-prod/dynatrace-operator
            username: ${{ secrets.GCR_USERNAME }}
            password: ${{ secrets.GCR_PASSWORD }}
          - registry: dockerhub
            url: docker.io
            repository: dynatrace/dynatrace-operator
            username: ${{ secrets.DOCKERHUB_USERNAME }}
            password: ${{ secrets.DOCKERHUB_PASSWORD }}
    steps:
      - name: Login to ${{matrix.repository}}
        uses: docker/login-action@v1
        with:
          registry: ${{ matrix.url }}
          username: ${{ matrix.username }}
          password: ${{ matrix.password }}
      - name: Create manifest for ${{matrix.repository}}
        env:
          IMAGE: ${{matrix.url}}/${{matrix.repository}}
        # Simply pulls, otherwise the artifact would need to be re-downloaded and re-tagged correctly which would mean
        # two more steps instead of two more lines
        run: |
          docker pull ${{matrix.url}}/${{matrix.repository}}:${{ needs.prepare.outputs.version }}-amd64
          docker pull ${{matrix.url}}/${{matrix.repository}}:${{ needs.prepare.outputs.version }}-arm64
          hack/build/ci/create-manifest.sh "${IMAGE}" "${{ needs.prepare.outputs.version }}" true
