name: Release

on:
  push:
    tags:
      - v[0-9]+.[0-9]+.[0-9]+
      - v[0-9]+.[0-9]+.[0-9]+-rc.[0-9]+ # include prerelease tags too

env:
  GOOGLE_MARKETPLACE_ANNOTATION: com.googleapis.cloudmarketplace.product.service.name=services/dynatrace-operator-dynatrace-marketplace-prod.cloudpartnerservices.goog
  PLATFORMS: linux/amd64,linux/arm64,linux/ppc64le,linux/s390x
  DEPLOYER_PLATFORMS: linux/amd64

jobs:
  prepare:
    permissions:
      contents: read
      id-token: write
    name: Prepare properties
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: Prepare build parameters
        id: prep
        run: |
          hack/build/ci/prepare-build-variables.sh
          touch ./CHANGELOG.md
          echo "This is a placeholder changelog." > CHANGELOG.md
          cat CHANGELOG.md
      - name: Upload changelog
        uses: actions/upload-artifact@v4
        with:
          name: changelog
          path: CHANGELOG.md
          if-no-files-found: warn
    outputs:
      labels: ${{ steps.prep.outputs.docker_image_labels }}
      version: ${{ steps.prep.outputs.docker_image_tag }}
      version_without_prefix: ${{ steps.prep.outputs.docker_image_tag_without_prefix }}

  update-csv-bundles:
    needs: prepare
    runs-on: ubuntu-24.04
    if: ${{ !contains(github.ref, '-rc.') }}
    permissions:
      contents: write
      pull-requests: write
    steps:
    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
    - name: Download changelog
      uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
      with:
        name: changelog
        path: changelog_artifact
    - uses: ./.github/actions/update-csv-bundles
      with:
        version: ${{ needs.prepare.outputs.version_without_prefix }}
        token: ${{ secrets.GITHUB_TOKEN }}
        changelog-path: ./changelog_artifact/CHANGELOG.md
