name: Self update codebase on new release
on:
  push:
    branches:
      - release-*

jobs:
  self-update-on-new-release:
    name: Self update when new release branch has been created
    permissions:
      contents: write
      pull-requests: write
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          ref: main
      - name: Install Python
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        with:
          python-version: '3.14'
      - name: Install python requirements
        run: make prerequisites/python
      - name: Find last 3 release branches
        run: |
          git fetch --prune --tags
          git branch -r --list 'origin/release-*' | sort --version-sort | tail -n 3 | tr -d ' ' > release-branches.txt

          echo latest branches:
          cat release-branches.txt
      - name: Update renovate file
        run: |
          source ./bin/.venv/bin/activate
          python3 hack/build/ci/update-renovate-json5.py
      - name: Update e2e-tests-ondemand.yaml file
        run: |
          source ./bin/.venv/bin/activate
          python3 hack/build/ci/update-e2e-ondemand-pipeline.py
      - name: Create GitHub app token
        uses: actions/create-github-app-token@7e473efe3cb98aa54f8d4bac15400b15fad77d94 # v2.2.0
        id: create-github-app-token
        with:
          app-id: ${{ secrets.RELEASE_APP_ID }}
          private-key: ${{ secrets.RELEASE_APP_KEY }}
      - name: Create pull request for updating all files
        uses: peter-evans/create-pull-request@271a8d0340265f705b14b6d32b9829c1cb33d45e # v7.0.8
        with:
          token: ${{ steps.create-github-app-token.outputs.token }}
          base: main
          delete-branch: true
          branch: create-pull-request/update-renovate-json5
          branch-suffix: short-commit-hash
          add-paths: |
            .github/renovate.json5
            .github/workflows/e2e-tests-ondemand.yaml
          title: '[Automatic] Update because new branch created ${{ github.ref_name }}'
          labels: 'ci'
          commit-message: self update on new release ${{ github.ref_name }}
          body: |
            # Description
            This PR updates files after new release has been created:
            - `renovate.json5`;
            - `e2e-tests-ondemand.yaml` to include last release branch as default.
